@model SchoolApp.Services.Models.Council.CouncilViewModel

@{
    ViewData["Title"] = "Council";
}

<div>
    <h1><b>Ръководство</b></h1>
    <hr />
    <br />
</div>

<conainer>
    @foreach (var Person in Model.Councils)
    {
    <div class="d-flex justify-content-between w-50">
        <div class="image-holder w-50">
            <img class="img-thumbnail" src="@Person.PictureUrl" alt="https://www.freeiconspng.com/uploads/no-image-icon-6.png" />
        </div>
        <div class="data-holder w-75 px-3 mt-2">
            <div class="text-holder d-flex justify-content-between">
                <h5>Длъжност: </h5>
                <h5>@Person.Role</h5>
            </div>
            <div class="text-holder d-flex justify-content-between">
                <h5>Име: </h5>
                <h5>@Person.FirstName @Person.LastName</h5>
            </div>
            <div class="text-holder d-flex justify-content-between">
                <h5>Катедра: </h5>
                <h5>@Person.Department</h5>
            </div>
        </div>
    </div>
    <br />
    <hr>
    }
</conainer>